<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Ruth's web site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ruth's web site</h1>
    <!--copy the lines below to your index.ejs file-->
    <p>Click on a link to visit a page.</p>
    <ul>
		<li><a href="sports.html">My favorite sports</a></li>
		<li><a href="aboutme.html">About Me</a></li>
	</ul>
	 <!--end of section to copy-->
	<p>The user count in my nodejs application is: <%= userCount %></p>   <!--copy this line for userbytwo-->   
  </body>
</html>

