<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Ruth's web site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!--edit the h1 tage for your own name-->
    <h1>Ruth's web site</h1>
    
    <!--paste the links from indexwithlinks.ejs here-->
    
    <p>The user count in my nodejs application is: <%= userCount %></p>   <!--copy this line for userbytwo-->
  </body>
</html>

